<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style>
        .smooth {
          transition: all 1s ease-in;
        }
        .fade-me-out.htmx-swapping {
            opacity: 0;
            transition: opacity 1s ease-out;
        }
        form.htmx-request {
            opacity: .5;
            transition: opacity 300ms linear;
        }
        </style>
</head>
<body>
    {% block content %}
    {% endblock %}

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
});
    </script>
</body>
</html>