{% extends 'base.html' %}

{% block content %}
<div class="ml-10 my-10">
<form method="GET" action="{% url 'index' %}"> 
    {{form.as_p}}
    <button type="submit" value="Submit" class="inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Submit</button>
</form>  
<hr>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Author
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Genre
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Price
                </th>
              </tr>
            </thead>
            <tbody>
                {% for book in books %}
              <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{book.name}}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{book.author.name}}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{book.get_genre_display}}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{book.price}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



</div>
{% endblock %}