{% extends 'base.html' %}

{% block content %}

<div class="flex h-screen w-screen justify-center items-center">
    <div class="grid grid-cols-2">
        <div>
            <h1><a href="{% url 'my-tasks' %}"><B>MY TASKLIST</B></a> </h1>
            <div>{% include 'partials/search.html' %}</div>
            
            <form action="">
                {% csrf_token %}
                <input type="text" name="taskdesc" placeholder="add a task">
                <div>
                    <select name="category" id="">
                    <option value="none">Select a category...</option>
                        {% for category in categories %}
                            <option value="{{category.pk}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div>
                    <label for="newCategory">Add a new category</label>
                <input type="text" name="category_new" placeholder="add a new category">
                </div>
            
                <div><button hx-post="{% url 'add-task' %}" hx-target="#task-list" type="submit"><b>ADD TASK</b></button></div>
            </form>

            <div>Tags: 
                {% for category in categories %}
                    <a href="{% url 'my-tasks' %}?category={{category.name}}"><b>{{category.name}}</b></a>
                {% endfor %}
            </div>
        <form action="">
            <input type="text">
        </form>
        </div>
    <div id="search-results">
        <div id="task-list">
                {% include 'partials/task-list.html' %}         
        </div>
    </div>
    </div>
</div>

<div id="color-demo" class="smooth" style="color:red"
      hx-get="/colors1" hx-swap="outerHTML" hx-trigger='every 1s'>
  Color Swap Demo
</div>
<button class="fade-me-out"
        hx-delete="/fade_out_demo"
        hx-swap="outerHTML swap:1s">
        Fade Me Out
</button>

<form hx-post="{% url 'shit' %}">
    <label>Name:</label><input name="name"><br/>
    <button>Submit</button>
</form>


<script>
    // let elements = htmx.findAll("#task-item")
    // elements.forEach(element => {
        // htmx.addClass(element, 'line-through');
    // })
    let elements = htmx.findAll("#task-item")
    elements.forEach(element => {
        htmx.on(element, 'click', function() {
            htmx.addClass(element, 'line-through')
        })
    })
    
    let els = htmx.findAll("#task-item")
    els.forEach(el => {
        htmx.on("#uncross", 'click', function() {
            htmx.removeClass(el, 'line-through')
        })
    })
    

</script>


{% endblock %}